.card-shadow{
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 16%);
  }
  .img{
    width: 136px;
    height: 136px;
  }
  .hot-deals-bg{
    background-color: #62BD7A;
  }
  .hot-deals-height{
    height: 40px;
  }